<div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8">
  {{ range .Pages }}
  <div class="custom-card relative">
    {{ with .Params.image.filename }}
    <div class="relative">
      <img src="{{ . | relURL }}" alt="{{ $.Title }}">
      <div class="overlay">
        <a href="{{ .RelPermalink }}">자세히 보기 →</a>
      </div>
    </div>
    {{ end }}

    <div class="p-5">
      <h3>{{ .Title }}</h3>
      {{ with .Params.subtitle }}
      <p>{{ . }}</p>
      {{ end }}
      {{ with .Summary }}
      <p>{{ . | truncate 80 }}</p>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>








